.aboutsection{
    position: relative;
    width: 100vw;
    display: flex;
    overflow-x: hidden;
}
.aboutsec{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

}
.eyezz{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:1000px){
        flex-direction: column;
    }
}
.piccc{
    height: 30rem;
    height: 20rem;
    margin-bottom: 4rem;
}
.piccabt{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}
.abouttext{
    width: 60%;
    line-height: 1.5;
    text-align: left;
    margin-left:3rem ;
    text-align: center;
    @media screen and (max-width:1000px){
        width: 80%;
    }
    @media screen and (max-width:600px){
        width: 100%;
        margin-left:0rem ;
        white-space: normal;
        margin-bottom: 2rem;
    }
}

.bottomsocial{
    gap: 2rem;
    h2{
        font-size: 2rem;
    }
}
.iconstop{
    display: flex;
    gap: 1rem;
}
.icons{
 
    color: black;
    
}
.icon{
    cursor: pointer;
    height: 25px;
    width: 25px;
    &:hover{
        transform: scale(1.4);
        color: rgb(102, 102, 102);
    }
    margin-bottom: 5rem;
}
.bottomdiv{
    background: black;
    width: 100vw;
    color: white;
    height: 10rem;
    display: flex;
    place-items: center;
    justify-content: center;
}