.brandingg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.brandingg ul {
  text-decoration: none;
  list-style: none;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: line 10s linear infinite;
          animation: line 10s linear infinite;
}

.brandingg ul li {
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}

.brandingg ul li:hover {
  color: #4d4734;
  cursor: pointer;
}

.brandingg ul li:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.brandingg ul li:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

@-webkit-keyframes line {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}

@keyframes line {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}

.cardsall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

@media screen and (max-width: 1000px) {
  .cardsall {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cardsbb {
  position: relative;
  width: 300px;
  height: 350px;
  background: black;
  margin: 0 auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.cardsbb:before, .cardsbb:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.cardsbb:hover:before {
  background: black;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.cardsbb:hover:after {
  background: #524f4f;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.cardsbb .imgbx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.cardsbb .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cardsbb .detailsimg {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.cardsbb:hover .imgbx {
  bottom: 80px;
}

.cardsbb .detailsimg h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
}

.cardsbb .detailsimg h3 span {
  font-weight: 500;
  font-size: 16px;
  color: #f3da86;
  display: block;
  margin-top: 5px;
}

.pipcc {
  width: 70vw;
}

.pipcc img {
  height: 100%;
  width: 100%;
}

.bbbkk {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
}

.btn-graddd {
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#2e2d29), color-stop(51%, #b29f94), to(#2e2b28));
  background-image: linear-gradient(to right, #2e2d29 0%, #b29f94 51%, #2e2b28 100%);
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-graddd:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
/*# sourceMappingURL=branding.css.map */